{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../statics/css/registerstyle.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Registration Form</h1>
     <form action="" method="post">
    {% csrf_token %}
    <p>
    	<label for="email">Enter Email Id: </label>
        <input type="email" name="email" id="email" required>
    </p>
    <p>
        <label for="password">Type Password: </label>
        <input type="password" name="pasword" id="password" required>
    </p>
    <p>
        <label for="fname">Enter First Name: </label>
        <input type="text" name="fname" id="first" required>
    </p>
    <p>
        <label for="lname">Enter Last Name:</label>
        <input type="text" name="lname" id="last" required>
    </p>
    <p>    
        <label for="bio">Bio(Optional):</label>
        <textarea name="bio" rows="10" cols="50"></textarea>
    </p>
    <p>
        <label for="image">Profile Picture:</label>
        <input type="file" name="image" id="image">
    </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>